
.main_container{
    min-width: 420px;
    width:98%;
/*    margin-top: 20px;
    background: blue;*/
    /*margin-top: 45px;*/
    /*padding: 10px;*/
    /*height: auto;*/
}

#contenido{
  height: auto;
  /*padding: 10px;*/
  /*background: orange;*/
}