
.main_container{
    min-width: 420px;
    width:98%;
    margin: 0 auto;
    background: blue;
    margin-top: 45px;
    height: auto;
}

#contenido{
  border: solid 3px red;
    background: red;
    height: 800px;
}