/* 
    Created on : 22/09/2014, 10:22:35 AM
    Author     : renzo
*/


@font-face {
    font-family: 'jockey_oneregular';
    src: url('../font/jockeyone-regular-webfont.eot');
    src: url('../font/jockeyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/jockeyone-regular-webfont.woff2') format('woff2'),
        url('../font/jockeyone-regular-webfont.woff') format('woff'),
        url('../font/jockeyone-regular-webfont.ttf') format('truetype'),
        url('../font/jockeyone-regular-webfont.svg#jockey_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myndraineregular';
    src: url('../font/myndraine-webfont.eot');
    src: url('../font/myndraine-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/myndraine-webfont.woff2') format('woff2'),
        url('../font/myndraine-webfont.woff') format('woff'),
        url('../font/myndraine-webfont.ttf') format('truetype'),
        url('../font/myndraine-webfont.svg#myndraineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.inicio_body{
    /*height: 100% !important;*/
    /*background:pink;*/
    overflow: hidden;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    height: auto;
    /*margin-bottom: 20px;*/
}
.principal{
    /*    background: green;  
        height: 890px !important;
        padding: 5px;*/
}

.controles{

    /*margin-top: 5px;*/
    width: 100%;
    min-width: 250px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*    padding-right:5px;
        padding-left:5px;*/
}                     

.list-group{
    box-shadow: 2px 2px 2px #888;
    border-radius: 5px;
}
.contenido{
    /*    min-height: 200px;
        max-height: 800px;*/
    /*position:absolute;*/
    /*background:#000;*/

    /*    float: right;
        width: 100%;
        border:solid 1px #ccc;
        height:auto;
        vertical-align: top;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #888888;*/
}

.contenido {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}   


.banners{
    background: rgba(51,173,219, 0.7);
    border-left: 4px solid rgba(255,255,255,0.7);
    height: auto;
    width: 100%;
    color: red;

    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

#iframe_inicio{
    /*    padding: 20px;*/
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    height:auto!important;
    /*background: cyan;*/
}

#tabframe{
    overflow: hidden;
    width:100% !important;
    /*min-height: 300px;*/
    /*background: blue;*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /*padding:5px;*/

}
.html_inicio{
    margin: 0px;
    /*padding: 5px;*/
    height: auto!important;
}

.thumbnail{
border: solid 1px #ccc;
}
.body_inicio{

    /*margin: 10px !important;*/
    /*padding: 5px;*/
    /*height: auto !important;*/
    /*background: crimson;*/
}

.contenedor_inicio{
    /*max-height: 550px;*/
    /*    box-shadow: 2px 2px 2px #888888;*/
    /*    border: solid 2px #888;*/
    /*height: auto !important;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    /*background: yellow;*/ 
}

.bienvenida{
    
    overflow: hidden;
    background: rgba(221,221,221,0.3);
    height: 40%;
    padding: 20px;
    padding-left: 60px;
    border:solid 1px #ddd;
}

.tit_bienvenido{  
    /*    margin-top: -20px;*/
    font-size: 40px;
    color:gray;
    width: 70%;
    /*background: yellow;*/
}


.bienvenida #p1{
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;


    /*background: pink;*/
}


#titulo{
    width:65%;
    /*background: palevioletred;*/
}

#regian{
    color: #428bca;
}

#titulo, #logo_inicio{

    display: inline-block;
    vertical-align: top;
}

#logo_inicio{

    height: 120px;
    float: right;
    width: 30%;
    text-align: center;
    /*background: red;*/
    margin-top: 35px;
}


.caption .btn {
    width: 70%;
}

.contenido_acerca{
  font-family: 'jockey_oneregular';
    position:relative;
    margin:0 auto;
    background: rgba(221,221,221,0.3);
    color:gray;
    
    /*text-shadow: 1px 1px 2px #888;*/
    height: 55px;
    text-align: left;
    padding: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.contenido_texto{
    text-align: justify;
    padding:20px;
    height: 100%;
}


.conte_negr_razons{
    font-family: 'jockey_oneregular';
    font-size: 16px;

}

.row{
    padding: 10px;
    text-align: center;
    /*background: red;*/
    margin-top: 20px;
}



.thumbnail img{
    /*background: blue;*/
    border-radius: 4px;
    margin-top:20px;
    margin-bottom: -10px;
}

.base_inicio{
    height: 20px;
    background:#ddd;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
}

.main_inicio_mision,.main_inicio_exitos{
    padding: 20px;
}

.panel-title{
    color:#428bca;
    font-size:20px;
}

