
.main_container{

    min-width: 420px;
    width:98%;
    margin: 0 auto;
    /*background: blue;*/
    margin-top: 45px;
    height: 500px;
}

#contenido{
 /* border: solid 3px red;*/
    /*background: red;*/
    height: 480px;
}