
.main_container{
    min-width: 420px;
    width:98%;
    overflow: hidden;
    /*    margin-top: 20px;
        background: blue;*/
    /*margin-top: 45px;*/
    /*padding: 10px;*/
    /*height: auto;*/
}

#contenido{
    overflow: hidden;
    /* height: 100%; */
    /*padding: 10px;*/
    /*background: orange;*/
}