
/* 
    Created on : 17/09/2014, 01:19:18 PM
    Author     : renzo
border-bottom: solid 1px #428BCA;
*/

header{
    /*background: #ddd;*/
    background: rgba(66,139,202, 0.7);
    padding: 5px;
    /*    height: 135px; */
    /*    box-shadow: 3px 3px 1px #ccc; */
}

div#header_contenedor1{
    /*background: blue;*/
    height:80px;
    width:25%;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

#grupo_regian_div{
    
text-shadow: 1px 1px 2px #888;
    text-align: center;
    width: 49%;
    /*background: orangered;*/
    height: 80px;    
}

#tit_main{
    /*background: red;*/
    display: inline-block;
    vertical-align: top;
    color:white;
}

.number_main{
    /*background: red;*/
    margin-top: 25px;
    color: whitesmoke;
    display: inline-block;
}

.sociales{
    /*background: green;*/
    width:25%;
    height: 80px;
    text-align: center;     
    text-decoration: none;
    float: right;
    min-width: 200px;
}

div#header_contenedor1, .sociales,#grupo_regian_div{ 
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
}

.link_widget:hover{
    text-decoration: none;
}

.social_a, .social_b, .social_c{
    margin-top: 1px;
    display: inline-block;
    /*    background: yellow;*/
    height: 38px;    
    width: 38px;
    border-radius: 1em;
    margin: 18px 0px 0px 10px;
    -webkit-filter:grayscale(1) !important;
    transition: all 0.5s;
    box-shadow: 5px 5px 2.5px #888;  

}

.social_c:hover,.social_a:hover, .social_b:hover{
    box-shadow: 2px 2px 1px #888;  
    -webkit-filter:grayscale(0) !important;
    transition: all 0.3s ease;
}
.navbar{
    margin-bottom: 10px;
}

#slide{
    margin-bottom: 20px;
}

div#nav_collapse{

    margin-top: 4px;
}


