/* 
    Created on : 22/09/2014, 10:22:35 AM
    Author     : renzo
*/


@font-face {
    font-family: 'jockey_oneregular';
    src: url('../font/jockeyone-regular-webfont.eot');
    src: url('../font/jockeyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/jockeyone-regular-webfont.woff2') format('woff2'),
         url('../font/jockeyone-regular-webfont.woff') format('woff'),
         url('../font/jockeyone-regular-webfont.ttf') format('truetype'),
         url('../font/jockeyone-regular-webfont.svg#jockey_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myndraineregular';
    src: url('../font/myndraine-webfont.eot');
    src: url('../font/myndraine-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/myndraine-webfont.woff2') format('woff2'),
         url('../font/myndraine-webfont.woff') format('woff'),
         url('../font/myndraine-webfont.ttf') format('truetype'),
         url('../font/myndraine-webfont.svg#myndraineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.principal{
    background: blue;
}

.controles{
    width: 20%;
    min-width: 250px;
    float: left;
}

.contenido{
   float: right;
   width: 78%;
   border:solid 1px #428bca;
   height: auto;
   vertical-align: top;
   border-radius: 3px;
   padding: 2em;
}

.contenido , .controles {
    display: inline-block;
    margin: 0 auto;
}

.banners{
        background: rgba(51,173,219, 0.7);
	border-left: 4px solid rgba(255,255,255,0.7);
	height: auto;
        width: 100%;
        color: red;
        
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
	transition: all 200ms;
}

div#titulos_inicio{
    width: 100%;
    height: auto;
/*    background: red;*/
}

