/* 
    Created on : 22/09/2014, 10:22:35 AM
    Author     : renzo
*/


@font-face {
    font-family: 'jockey_oneregular';
    src: url('../font/jockeyone-regular-webfont.eot');
    src: url('../font/jockeyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/jockeyone-regular-webfont.woff2') format('woff2'),
        url('../font/jockeyone-regular-webfont.woff') format('woff'),
        url('../font/jockeyone-regular-webfont.ttf') format('truetype'),
        url('../font/jockeyone-regular-webfont.svg#jockey_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myndraineregular';
    src: url('../font/myndraine-webfont.eot');
    src: url('../font/myndraine-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/myndraine-webfont.woff2') format('woff2'),
        url('../font/myndraine-webfont.woff') format('woff'),
        url('../font/myndraine-webfont.ttf') format('truetype'),
        url('../font/myndraine-webfont.svg#myndraineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.inicio_body{
    /*height: 100% !important;*/
    background:pink;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    /*margin-bottom: 20px;*/
}
.principal{
    /*    background: green;  
        height: 890px !important;
        padding: 5px;*/
}

.controles{
    margin-top: 5px;
    width: 20%;
    min-width: 250px;
    float: left;
}

.list-group{
    box-shadow: 2px 2px 2px #888;
    border-radius: 5px;
}
.contenido{
    /*    min-height: 200px;
        max-height: 800px;*/
    /*position:absolute;*/
    /*background:#000;*/

    float: right;
    width: 78%;
    border:solid 1px #ccc;
    /*height:auto;*/
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
}

.contenido , .controles {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}   


.banners{
    background: rgba(51,173,219, 0.7);
    border-left: 4px solid rgba(255,255,255,0.7);
    height: auto;
    width: 100%;
    color: red;

    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

#iframe_inicio{
    /*    padding: 20px;*/
    width: 100%;
    max-height: 100%;
    height:auto!important;
    /*background: cyan;*/
}

#tabframe{
    width:100% !important;
    /*min-height: 300px;*/
    /*background: blue;*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /*padding:5px;*/

}
.html_inicio{
    margin: 0px;
    /*padding: 5px;*/
    height: auto!important;
}

.body_inicio{

    /*margin: 10px !important;*/
    /*padding: 5px;*/
    /*height: auto !important;*/
    /*background: crimson;*/
}

.contenedor_inicio{
    /*max-height: 550px;*/
    /*    box-shadow: 2px 2px 2px #888888;*/
    /*    border: solid 2px #888;*/
    /*height: auto !important;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    /*background: yellow;*/ 
}

.contenido_acerca{

    position:relative;
    margin:0 auto;
    background: #428bca;
    color:#fff;
    height: 42px;
    text-align: left;
    padding: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.contenido_texto{
    text-align: justify;
    padding:20px;
    height: 100%;
}
/*.contenido_texto p{
    height: max-content !important;
}*/

.conte_negr_razons{
    font-family: 'jockey_oneregular';
    font-size: 16px;

}

.base_inicio{
    height: 20px;
    background:#d9534f;
}

